*
!.gitignore
!.env.docker

!README.md
!Makefile
!entrypoint.sh
!Dockerfile
!.env.test

# Whitelist
!gdb/
!gdb/*
!gdb/.conf/*
!gdb/docs/*
!gdb/gdb_scripts/*
!gdb/makecfg/*
!gdb/target/*
!gdb/tests/*

!makecfg/
!makecfg/**

# Autogened File
.DS_Store
Thumbs.db
*.coverage
*.pdf
*.txt
*out
*main
.gdb_history
